
<div class="">
	<table class="table table-hover">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Ticker</th>
	      <th scope="col">Name</th>
	      <th scope="col">Price</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @tracked_stocks.each do |stock| %>
		    <tr>
		      <td scope="row"><%= stock.ticker %></th>
		      <td><%= stock.name %></td>
		      <td><%= stock.last_price %></td>
		      <td class="text-center">
		      	<% if request.path == my_portfolio_path %>
		      		<%= link_to "Remove", user_stock_path(stock), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning" %>
		      	<% else %>
			      	<% if current_user.can_track_stock?(stock.ticker) %>
						<%= link_to 'Add to Portfolio', user_stocks_path(user: current_user, ticker:stock.ticker), class: "btn btn-xs btn-success m-2 mr-0 search-options-btn", method: :post %>
					<% else %>			  
					  <button class="btn btn-xs btn-dark" disabled="true" >
					  	You are already tracking		 	
					 	<% if !current_user.under_stock_limit? %>
					 		10 stocks
					 	<% else %>
					 		this stock
					 	<% end %>
					  </button>
					<% end %>
		      	<% end %>
		      </td>
		    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
